body main .fechas {
  text-align: center;
  margin: 7rem;
  background-color: black;
  border: 4px;
  padding: 10px;
  border-radius: 8px;
  border-color: lightslategray;
  border-style: groove; }

* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  background-color: black;
  width: 80%;
  height: 100 body;
  margin-left: 10%;
  margin-top: 10px; }
  body .menuPrincipal {
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    border-color: #525050;
    background-color: #1b1a1a; }
    body .menuPrincipal h1 {
      justify-content: center;
      text-align: center;
      letter-spacing: 0.5rem;
      font-size: 3rem;
      text-transform: uppercase;
      color: #525050; }
    body .menuPrincipal nav ul li {
      list-style: none;
      font-size: 1.8rem;
      margin-bottom: 10px; }
    body .menuPrincipal nav ul {
      margin-top: 10px;
      text-decoration: none;
      display: flex;
      justify-content: space-evenly; }
    body .menuPrincipal nav ul li a {
      text-decoration: none;
      color: #525050; }
  body .linkMenu:hover {
    background-color: white;
    font-size: 2rem;
    color: black; }
  body main {
    display: grid;
    grid: column;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
    grid-template-areas: "proximas pasadas";
    background-image: url(/img/teatrocolon.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body main .fechas #proximas {
      grid-area: "proximas"; }
    body main .fechas #pasadas {
      grid-area: "pasadas"; }
    body main .fechas h2 {
      color: #747474;
      margin-bottom: 2rem;
      font-size: 2rem; }
    body main .fechas ul {
      list-style: none;
      padding: 1px;
      color: #525050; }
    body main .fechas ul li {
      padding: 0.4rem;
      font-size: 1.2rem; }
  body footer {
    background-color: black; }
    body footer h3 {
      color: #525050;
      text-align: center;
      font-size: 1.2rem; }
