%fechas {
    text-align: center;
    margin: 7rem;
    background-color: black;
    border: 4px;
    padding: 10px;
    border-radius: 8px;
    border-color: lightslategray;
    border-style: groove;
}