// MIXIN

@mixin bodyBasics {
    background-color: black;
    width: 80%;
    height: 100&;
    margin-left: 10%;
    margin-top: 10px;
}


@mixin grid-col {
    display: grid;
    grid: column;
    justify-content: center;
    min-height: 80vh;
    align-items: center;   
}